// Specific CSS for your home-page

.banner {
 min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 28px;
}

.banner h3 {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 28px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #C1000F;
}

.btn-flat:hover {
  background: #ca2f3c;
  color: white;
}

.container h2 {
  margin-top: 60px;
  color: black;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 36px;
  font-weight: bold;
}
.card-categories {

  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;

  .card {
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);

    a {
      text-decoration: none;
      & :hover {
        text-decoration: none;
      }
    }
  }

}
