// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


img {
    height: 100%;
    object-fit: cover;
}
.infos-movie {
  display:flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 5px;
  }
}
